* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  border-radius: 10px;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

h1 {
  margin-bottom: 5px;
}

header {
    padding: 20px;
    color:rgba(235, 227, 227, 0.962);
    background-color: rgb(78, 100, 162);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
  }

.play.container {
  padding: 20px;
  background-color: rgb(139, 51, 152);
  flex-direction: column;
  align-items: center;
}

.choice.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(196, 93, 93)
}

.results.container {
  padding: 20px;
  color:rgba(235, 227, 227, 0.962);
  background-color: rgb(69, 181, 67);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.choiceBtns, .playBtn {
  font-size: 32px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  background-color:rgb(141, 146, 146);
}
